.header-container{
    height: 15vh;
    background: var(--grdAzulDishi);
    position: sticky!important;
    top: 0;
    z-index: 100;
    width: 100vw;
    display: flex;
    border-bottom: solid 2px white;  
}
.header-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    position: relative;
}

.logo-container{
    flex-basis: 20%;
}

.logo{
	width: 13rem!important;
    transition: 0.6s ease-in-out;
}
.logo:hover{
   transform: scale(1.05);
}

.search-lg-container{
    flex-basis: 30%;
}
.dropdown-options-container{
    display: flex;
    flex-basis: 5%;
    justify-content: flex-start;
    align-items: center;
}
.nav-user-container{
    flex-basis: 15%;
    display: flex;
    justify-content: flex-end;
}
.log-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
}
.nav-btn-link-wrapper{
    display: flex;
    flex-basis: 15%;
    justify-content: flex-end;
}

.nav-wrapper-1{
    padding: auto 10vw;
    width: 55%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.nav-wrapper-2{
    width: 45%;
    flex: 1;
}

.nav-link {
    color: var(--colorNavLink)!important;
}

.search-aplicar {
    display: flex;
    flex-direction: row;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
.dropdown-hover:hover .dropdown-menu {
display: block;
}



.log-link{
    color: #056ae0;
    margin: 2vh 1vw;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.search-wrapper{
    background: white;
    border-radius: 10vh;
    width: 35vw;
    position: relative;
    height: 25%
}

.search-wrapper input{
    margin: auto;
    border: none;
    padding: 1.3vh 1.2vw;
    background: transparent;
    width: 90%;
}
.search-button {
  /*   position: absolute;
    right: 5%;
    top: 20%;
    align-items: center; */
    cursor: pointer;
}
.nav-btns-wrapper{
    margin-left: 10vw;
    display: flex;
    width: 40%;
}
.search-button i {
    color: var(--azulMediumDishi);
    font-size: 1.2rem;
}
.show{
    display: block;
}

.not-show{
    display: none;
}

.show-sm-screen{
    display: none;
}

.custom-toggler {
    position: absolute!important;
    right: 0!important;
    
}

.dropdown-options-icon{
    font-size: 1.8rem;
    color: var(--white);
    cursor: pointer;
    margin-left: 5px;
}
.dropdown-menu-alt{
	width: 75%;
    position: absolute;
    top: 120%!important;
    right: 12.5%!important; 
	border-radius: 5px!important;
	border: none!important;
    background: var(--white);
    z-index: 3;
}
.dropdown-text{
    font-size: 0.8rem;
}
.btn-aplicar-width{
    width: 120px;
    height: 40px;

}


.p-relative{
    position: relative;
}
.cart-notificaciones{
  /*   border: 1px solid  #DBDCDB; */
    position: absolute;
    top: -5%;
    right: -25%;
    background-color: #ff2f49;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    display: flex;
}
.cart-notificaciones h6{
 color: white;
 font-weight: bold;
 font-size: 10px;
 text-align: center;
 margin: auto;
}

.text-log {
	font-family: 'Inter', sans-serif!important;
	color: var(--colorNavLink);
    font-size: 0.9rem;
}
.text-log:visited{
	text-decoration: none;
	color: #056ae0;
}
.text-log:active{
	text-decoration: none;
	color: #056ae0;

}
.text-log:focus{
	text-decoration: none;
	color: #056ae0;
}
.text-log:hover{
	text-decoration: none;
	color: #eeeeee;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(5, 106, 224, 0.99)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

/*NAVICON ESTILOS AJUSTES COMIENZO*/
.nav-icon-notificaciones{
	border: solid 1px var( --azulCeleste);
	background-color: var( --azulCeleste);
	padding: 0.6rem;
	color: white;
    border-radius: 50%
}
.popover-body{
    padding: 0!important;
}
.dropdown-hover:hover{
    border: 1px solid green;
}
#popover-positioned-bottom:hover{
    border: 1px solid red;
    display: block!important;
}
.popover-body:hover {
    display: block!important;
}
/*NAVICON ESTILOS AJUSTES FIN*/
@media screen and (max-width: 1200px) {
    .logo{
        width: 10rem!important;
        
    }
}
  
@media screen and (max-width: 600px) {
    .logo{
        width: 7.5rem!important;
    }
    .header-container{
        height: auto;
    }

    .hide-sm-screen{
        display: none;
    }

    .show-sm-screen{
        display: block;
    }
}

