.btns-card-wrapper{
    position: absolute;
    top: 2.5%;
    right: 5%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
   }
   
   .btn-cart-prod, .btn-like-prod{
     color: var(--white);
     background-color: var(--azulCeleste);
     border-radius: 50%;
     padding: 0.5rem;
     margin-left: 1vw;
     font-size: 1rem;
     z-index: 3;
     margin-top: 0.5rem;
   }

   .btn-cart-prod-reversed, .btn-like-prod-reversed{
    color: var(--azulCeleste);
    background-color: var(--white);
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 1vw;
    font-size: 1rem;
    z-index: 3;
    margin-top: 0.5rem;
  }


   
   .btn-cart-prod:hover, .btn-like-prod:hover{
     font-size: 1.2rem;
     box-shadow: 0 3px 3px 3px rgba(0,0,0,0.36)
   }
   .btn-cart-prod-reversed:hover, .btn-like-prod-reversed:hover{
    font-size: 1.2rem;
    box-shadow: 0 3px 3px 3px rgba(0,0,0,0.36)
  }

   .btn-active{
     background-color: var(--azulDishi);
   }
   .btn-active-reversed{
    color: var(--azulDishi);
  }