.width-1-item{
    width: 25vw!important;
}
.width-2-items{
    width: 45vw!important;
}
.width-3-items{
    width: 60vw!important;
}
.width-4-items{
    width: 75vw!important;
    padding: auto 15vw;
}
.width-5-items{
    width: 95vw!important;
   
}

.mx-wd{
    max-height: 300px!important;
}