.card-container{
   
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

/***********IMAGEN*************/
.img-card-g-container{
    display: flex;
    flex-direction: column;
    width: fit-content;  
    margin: auto;
    background: var(--white);
    position: relative;
    
}

.img-card-g-container img{
    object-fit: fill;
    width: 213px;
    height:172px;
    cursor: pointer;
    transition: all 0.25 ease-in-out;
}

/***********DESCRIPCION*************/

.description-precio{
	width: 100%;
	height:50px;
	font-size: 25px;
	padding: 0.5rem;
	background-color: var( --azulCeleste);
    position: relative;
    display: flex;
    flex-direction: row;
}
.description-precio:hover{
    background-color: var(--azulDishi);
}

.precio-container{
    flex: 1.25;
}
.precio-container p{
    word-wrap: none;
    color: var(--white);
}
.payment-icons{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.payment-icons i {
    color: var(--whiteOpacity)
}

.description-info{
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background: var(--white);
}
.description-info h5{
    font-family: 'Inter', sans-serif!important;
	font-weight: 900!important;
	font-size: 1rem;
	color: var( --azulCeleste);
	padding-top: 0.5rem;
	margin-bottom: 0rem;
}
.description-info p {
    font-family: sans-serif;
    font-size: 0.8rem;
    padding-top:0;
}


/***********BTN CART/LIKE*************/



/*********** BTN QUANTITY *************/


.btn-quantity-card-prod{
    width: 50%;
    height: 20.5%;
    border-radius: 50px;
    background: var(--azulDishi);
    color: white;
    border: 2px solid rgb(196, 196, 196);
    position: absolute;
    transition: all 0.3s linear;
    bottom: -5%;
    left: 25%;
    transform: translate(0%, 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}


.btn-quantity-card-prod-show{
    width: 50%;
    height: 20.5%;
    border-radius: 50px;
    background: var(--azulDishi);
    color: white;
    border: 2px solid rgb(196, 196, 196);
    position: absolute;
    transition: all 0.3s linear;
    bottom: 22.5%;
    left: 25%;
    transform: translate(0%, 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}



.btn-quantity-card-prod-btn {
    width: 1rem;
    height: 1rem;
    -webkit-appearance: none;
    background-color: transparent;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(196, 196, 196);
    font-size: 1.1rem;
    font-weight: 700;
    /* border: 2px solid rgb(196, 196, 196); */
    border-radius: 50%;
    display: flex;
    padding: 7.5px!important;
}
.btn-quantity-card-prod-btn:hover{
    color: white;
}

.quantity-card-prod{
    font-weight: bold;
    color: var(--azulPantoneBimbo);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    /*height: 2rem;*/
    border: none;
    background-color: white;
    appearance: textfield;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}

.img-card-g-container:hover .btn-quantity-card-prod, .btns-card-wrapper:hover .btn-quantity-card-prod{
    bottom: 22.5%;
    left: 25%;
}
.description-precio:hover .btn-quantity-card-prod{
    bottom: 22.5%;
    left: 25%;
}
.img-card-g-container:hover .btn-quantity-home-promos{
    bottom: 20%;
    left: 32.5%;
}
.text-img:hover .btn-quantity-home{
    bottom: 20%;
    left: 25%;
  }
  .fix-btn-cart-dest:hover .btn-quantity-home{
    bottom: 20%;
    left: 25%;
  }
  .text-tiendas{
	margin-bottom: 0px;
}
